h1,
h2 {
	margin-bottom: 1em;
	text-align: center;
}

form,
ul {
	margin: 0 auto 2em;
	max-width: 500px;
}

li {
	display: flex;
	justify-content: space-between;
}

input {
	background-color: hsl(160deg 1% 60%);
	padding: 0.25em 0.75em;
}

input,
input::placeholder {
	color: hsl(0deg 0% 0%);
}

.hidden {
	display: none;
}
