.hidden {
	display: none;
}

.hover-dark {
	--hover: hsl(0deg 0% 90%);
}

.active {
	background-color: var(--hover);
}

html,
body {
	height: 100%;
}

#app {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-rows: 80px 1fr;
	min-height: 100%;
}

header {
	display: grid;
	grid-column: span 2;
	color: #e6e6e6;
	background-color: hsl(207deg 90% 54%);
}

.grid-container {
	display: grid;
	grid-template-columns: 250px 1fr;
}

.title {
	display: grid;
	place-items: center;
	font-size: 2rem;
	color: #e6e6e6;
	font-weight: 700;
	text-transform: capitalize;
}

.menu {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	place-items: center end;
}

.menu__button {
	display: none;
	width: 50px;
	margin-right: 0.5em;
	gap: 5px;
	grid-template-rows: repeat(3, 1fr);
	cursor: pointer;
	transition: box-shadow 0.2s linear;
}

.menu__button:hover {
	box-shadow: 3px 2px 3px 0px #000;
}

.menu__button:active {
	box-shadow: none;
}
.menu__button:focus-visible {
	outline: 2px solid hsl(340deg 82% 52%);
}

.button-part {
	border-top: 10px solid #e6e6e6;
}

main {
	background-color: hsl(0deg 0% 90%);
	padding: 2em 0.5em;
}

aside {
	background-color: hsl(0deg 0% 95%);
	padding: 2em 0.5em;
}

@media (max-width: 1024px) {
	#app {
		grid-template-columns: 1fr;
	}

	.grid-container {
		width: 90%;
		max-width: 800px;
		margin: 0 auto;
	}

	.title {
		place-items: center start;
	}

	.menu__button {
		display: grid;
	}

	aside {
		display: none;
	}
}

.projects__title {
	font-size: 1.5rem;
	margin-bottom: 0.5em;
	color: hsl(207deg 90% 54%);
	font-weight: bold;
	padding-left: 0.25em;
}

.form {
	display: flex;
	gap: 0.5em;
	margin-bottom: 1em;
	padding-left: 0.25em;
}

.form__button {
	font-size: 2rem;
	cursor: pointer;
	color: hsl(207deg 90% 54%);
}

.form__input {
	border-bottom: 1px solid hsl(207deg 90% 54%);
	order: 1;
	width: 100%;
	align-self: center;
	padding: 0.25em;
	padding-top: 0.4em;
}

.inbox {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
}

.inbox__title {
	font-size: 1.5rem;
	margin-bottom: 0.5em;
	color: hsl(207deg 90% 54%);
	font-weight: bold;
	padding-left: 0.25em;
}

.list {
	margin-bottom: 1em;
}

.list__item {
	display: flex;
	justify-content: space-between;
	padding: 0.5em;
	border-radius: 15px;
}

.list__item + .list__item {
	margin-top: 0.5em;
}

.list__item:hover {
	background-color: var(--hover, hsl(0deg 0% 95%));
}

.title-container {
	display: flex;
	align-items: center;
	gap: 0.25em;
}

.check-btn {
	background-color: hsl(207deg 100% 85%);
	border: 2px solid hsl(207deg 90% 54%);
	border-radius: 50%;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
}

[data-role] {
	cursor: pointer;
}

.date-input {
	border: 1px solid hsl(207deg 90% 54%);
	background-color: hsl(207deg 100% 85%);
	padding: 0.1em 0.25em;
	border-radius: 5px;
}
